<h3>dashboard</h3>
<a id="new" href='/new' class="btn btn-warning position-relative top-0 start-50 translate-middle">+ new post</a>
   



{{#if posts.length}}
  <div class="col-md-6 post-list">

    {{#each posts as |post|}}
    <a href='javascript: location.href = "post/{{id}}"'>
  <div class="card m-3">
    <div class="card-header">
        {{title}} <small class="text-muted fs-6"><p class="float-end">{{format_date date_created}}</p>
            </small>
    </div>
    <div class="card-body">
        <p>{{content}}</p>
    </div>
</a>
    <footer class="m-3">
        <button id="delete" data-id="{{id}}" class="btn delete btn-danger"><i class="fas fa-trash-alt"></i></button>
        <a data-id="{{id}}" href="/edit/{{id}}" class="btn btn-success"><i class="fas fa-pen"></i></a>
        
    </footer>

</div>  

    
    {{/each}}
  </div>
  {{/if}}