<h3 class="text-center">dashboard</h3>
<a id="new" href='/new' class="btn btn-warning mx-auto">+ new post</a>
   



{{#if posts.length}}
  <div class="col-md-6 post-list">

    {{#each posts as |post|}}
    <a href='javascript: location.href = "post/{{id}}"'>
  <div class="card m-3">
    <div class="card-header">
        {{title}} <small class="text-muted fs-6">by {{user.name}} <p class="float-end">{{format_date date_created}}</p>
            </small>
    </div>
    <div class="card-body">
        <p>{{content}}</p>
    </div>

    <footer class="m-3">
        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        <button class="btn btn-success"><i class="fas fa-pen"></i></button>
        
    </footer>

</div>  
</a>
    
    {{/each}}
  </div>
  {{/if}}